// Import site utilities.
@import '../../global/utils/init';

.card-carousel-item .card__title {
  color: $color-text-gray;
  margin-bottom: 1rem;
  font-size: 1.5rem;

  .fontawesome-icons {
    margin-bottom: 1rem;
  }
}

.card-carousel__wrapper {
  padding-bottom: 0;
}

.card-carousel__list.card-carousel__slick {
  .card__media {
    margin-bottom: 1rem;
  }

  .card__link {
    margin-top: 1rem;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-dots {
    display: none !important;
  }

  .slick-prev,
  .slick-next {
    height: 36px;
    transform: rotate(-135deg);
    width: 36px;

    &::before {
      color: $color-tertiary;
      border-color: $color-tertiary;
      border-radius: 3px;
      border-style: solid;
      border-width: 8px 8px 0 0;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .slick-prev {
    left: -1vmin;

    @include breakpoint($bp-lg) {
      left: -3vmin;
    }
  }

  .slick-next {
    right: -1vmin;
    transform: rotate(45deg);

    @include breakpoint($bp-lg) {
      right: -3vmin;
    }
  }
}
