// Mixins.

// Clearfix
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Helper function for working with Sass maps.
// Example: @include print($configuration);
@mixin print($declarations) {
  @each $property, $value in $declarations {
    #{$property}: $value;
  }
}

@mixin button() {
  background-color: $color-blue3;
  border: 2px solid $color-blue3;
  color: $color-white;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: background-color 0.25s, color 0.25s;

  &:hover {
    background-color: $color-white;
    color: $color-tertiary;
  }
}

@mixin layout-content {
  max-width: 90%;
  width: auto;
  margin: 0 auto;

  @include breakpoint($bp-xl) {
    max-width: 1440px;
  }
}
