// Typography
//
// Typography variables.

$font-sans: 'Roboto', 'Arial', sans-serif;
$font-condensed: 'Roboto Condensed', 'Arial', sans-serif;

@mixin font-stack-primary {
  font-family: $font-sans;
}

@mixin font-stack-secondary {
  font-family: $font-condensed;
}

// Font-Weights.
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-italic: italic;

// Heading mixins.
@mixin heading-1-style {
  // 28px.
  font-size: 1.75rem;
  line-height: 1.16;

  @include breakpoint($bp-sm) {
    // 56px.
    font-size: 3.5rem;
    line-height: 1.16;
  }
}

@mixin heading-2-style {
  // 24px
  font-size: 1.5rem;

  @include breakpoint($bp-sm) {
    // 32px
    font-size: 2rem;
  }
}

@mixin heading-3-style {
  // 22px
  font-size: 1.375rem;

  @include breakpoint ($bp-sm) {
    // 28px
    font-size: 1.75rem;
  }
}

@mixin heading-4-style {
  // 20px
  font-size: 1.25rem;

  @include breakpoint ($bp-sm) {
    // 24px
    font-size: 1.5rem;
  }
}

@mixin heading-5-style {
  // 18px
  font-size: 1.125rem;

  @include breakpoint ($bp-sm) {
    // 22px
    font-size: 1.375rem;
  }
}

@mixin heading-6-style {
  // 16px
  font-size: 1rem;
  font-weight: $font-weight-bold;

  @include breakpoint ($bp-sm) {
    // 19px
    font-size: 1.1875rem;
  }
}

body {
  @include font-stack-primary;
  // 16px
  font-size: 1rem;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-stack-secondary;
  line-height: 1.16;
}

h1 {
  @include heading-1-style;
}

h2 {
  @include heading-2-style;
}

h3 {
  @include heading-3-style;
}

h4 {
  @include heading-4-style;
}

h5 {
  @include heading-5-style;
}

h6 {
  @include heading-6-style;
}
