{#
/**
 * @file
 * Template for the gtranslate block
 * Available variables:
 * - gtranslate_html: html of the gtranslate block.
 */
#}
{{ attach_library('alert_theme/gtranslate') }}
<div class="gtranslate">
  <div class="granslate__inner container">
    {{ gtranslate_html|raw }}
  </div>
</div>
