{#
/**
 * @file
 * Default theme implementation for the Twitter API display tweets method.
 *
 * Available variables:
 * - embeds: An array of embeds.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('alert_theme/twitter') }}

<div class="twitter--container container">
  {% embed '@rain_theme/card-carousel/card-carousel.twig' %}
    {% block carousel_items %}
      {% for item in embeds %}
        <li class="card-carousel-item">
          {{ item.html|raw }}
        </li>
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
<div class="button__container container">
  <div class="button__inner">
    {% include '@rain_theme/button/button.twig' with {
      "button": {
        "url": embeds.0.author_url,
        "text": 'View On Twitter'|t
      }
    } only %}
  </div>  
</div>
