@import '../../global/utils/init';

.main-menu__container {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 21px;
  font-weight: 700;
}

.main-menu {
  background-color: $color-primary;

  .menu {
    @include breakpoint($bp-sm) {
      @include layout-content;
    }

    a {
      color: $color-white;
    }

    .menu-item {
      background: $color-primary;
      text-transform: uppercase;

      @include breakpoint($bp-sm) {
        padding: 0;

        &:hover,
        &:focus,
        &.js-open {
          background: $color-tertiary;

          &.menu-item--active-trail {
            a.is-active {
              color: $color-white;
            }
          }
        }
      }

      &.js-open {
        background: $color-tertiary;

        .menu-item-toggle {
          svg path {
            fill: $color-white;
          }
        }
      }

      a {
        padding: 15px 25px;
      }
    }

    .menu__submenu {
      text-transform: none;

      @include breakpoint($bp-sm) {
        background: $color-tertiary;
        min-width: 250px;
      }

      .menu__submenu-item {
        font-size: 18px;

        @include breakpoint($bp-sm) {
          &:hover {
            background: $color-primary;
          }
        }
      }
    }
  }

  .menu-item.menu-item--active-trail {
    background-color: $color-white;

    a.is-active {
      color: $color-gray;
      transition: color $transition;
    }

    .menu-item-toggle {
      svg path {
        fill: $color-gray;
      }
    }

    &.js-open {
      a.is-active {
        color: $color-white;
      }
    }
  }
}

.menu-item-toggle {
  background: transparent;
  border: 0;

  @include breakpoint($bp-sm) {
    background: transparent;
  }
}

.main-menu__navicon {
  background-color: $color-primary;
}

.navicon {
  background-color: $color-primary;
}

.navicon__bar {
  background-color: $color-white;
}
