// Import site utilities.
@import '../../global/utils/init';

.card__title {
  &.heading {
    font-size: 1.5rem;

    @include breakpoint($bp-sm) {
      font-size: 1.75rem;
    }
  }
}

.card__media {
  margin-left: 10px;

  img {
    border: 1px solid $color-primary;
  }
}

.card__content {
  padding-left: 10px;

  .body-text {
    color: $color-text-gray;
    line-height: 1.375;
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    content: '';
    border-color: $color-black;
    border-width: 0 0 1px 1px;
  }
}

.card__link {
  @include button;
  border-radius: 4px;
  padding: 0.5rem 3rem;
  position: relative;
  font-size: 1rem;
  margin-left: 16px;
  background-color: $color-primary;
  border-color: $color-primary;

  /* Vertical line next to button */
  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: $color-black;
    width: 1px;
    height: 13px;
    bottom: 16px;
    left: -22px;

    @include breakpoint($bp-sm) {
      height: 15px;
      left: -16px;
    }
  }

  /* Horizontal line next to button */
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: $color-black;
    height: 1px;
    width: 20px;
    bottom: 16px;
    left: -22px;

    @include breakpoint($bp-sm) {
      left: -15px;
      width: 13px;
    }
  }
}
