// Import site utilities.
@import '../../global/utils/init';

.hero--with-summary {
  margin-bottom: 250px;

  @include breakpoint($bp-sm) {
    margin-bottom: 175px;
  }

  @include breakpoint($bp-md) {
    margin-bottom: 125px;
  }
}

.hero__heading {
  background-color: $color-black;
  color: $color-white;
  display: inline-block;
  font-size: 2.25rem;
  left: 50%;
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  @include breakpoint($bp-sm) {
    font-size: 3rem;
  }

  @include breakpoint($bp-lg) {
    font-size: 4.5rem;
    margin: 0 0 2rem;
  }

  @include breakpoint($bp-xl) {
    margin: 0 0 3rem;
  }
}

.hero__alert {
  @include clearfix;
  align-items: center;
  background: $color-alert-bg;
  border: 1px solid $color-alert-border-desktop;
  border-radius: 4px;
  bottom: -225px;
  color: $color-text-gray;
  display: flex;
  left: 50%;
  padding: 0.5rem 0.75rem 1.5rem;
  position: absolute;
  text-align: left;
  transform: translate(-50%, 0);
  width: calc(100vw - 2rem);

  @include breakpoint($bp-xsm) {
    bottom: -200px;
  }

  @include breakpoint($bp-sm) {
    bottom: -150px;
  }

  @include breakpoint($bp-md) {
    bottom: -100px;
    padding: 1rem 2rem 1.5rem;
    width: 953px;

    .body-text {
      flex: 1 0 50%;
    }

    .hero__right {
      flex: 0 1 auto;
      margin: auto 0 auto 40px;
    }
  }

  .hero__alert__content {
    display: flex;
    flex-wrap: wrap;
  }

  .hero__eyebrow {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.75rem;
    letter-spacing: 0;
    line-height: 33px;
    margin: 0 0 1rem;
    text-transform: initial;

    @include breakpoint($bp-md) {
      flex: 0 0 100%;
    }
  }

  .body-text {
    line-height: 24px;
    margin: 0 0 1rem;
  }

  .hero__icon {
    position: relative;

    .hero__icon__rectangle,
    .hero__icon__circle {
      position: absolute;
    }

    &--desktop {
      display: none;

      @include breakpoint($bp-md) {
        border: 2px solid $color-alert-border-desktop;
        border-radius: 50%;
        display: block;
        flex: 0 0 96px;
        height: 96px;
        margin-right: 26px;
        width: 96px;

        .hero__icon__rectangle {
          border: 2px solid $color-alert-border-desktop;
          border-radius: 5px;
          height: 31.5px;
          left: 38.5px;
          top: 16.5px;
          width: 16.5px;
        }

        .hero__icon__circle {
          border: 2px solid $color-alert-border-desktop;
          border-radius: 50%;
          bottom: 17px;
          height: 18px;
          left: 37.5px;
          width: 18px;
        }
      }
    }

    &--mobile {
      border: 2px solid $color-alert-border-desktop;
      border-radius: 50%;
      display: block;
      flex: 0 0 32px;
      height: 32px;
      margin-right: 16px;
      width: 32px;

      .hero__icon__rectangle {
        background: $color-alert-border-desktop;
        border-radius: 5px;
        height: 15px;
        left: 11.5px;
        top: 2.5px;
        width: 6px;
      }

      .hero__icon__circle {
        background: $color-alert-border-desktop;
        border-radius: 50%;
        bottom: 3px;
        height: 6px;
        left: 11px;
        width: 6px;
      }

      @include breakpoint($bp-md) {
        display: none;
      }
    }
  }

  .hero__right a {
    font-size: 1.25rem;

    @include breakpoint($bp-md) {
      font-size: 1rem;
    }
  }
}
