{{ attach_library('rain_theme/hero') }}

<section class="hero{{ hero.body.body_text ? ' hero--with-summary' }}">
  {% if hero.media %}
    {%
      include '@rain_theme/media/media.twig' with {
        "image": hero.media
      } only
    %}
  {% endif %}

  {% if hero.heading %}
    {%
      include '@rain_theme/heading/heading.twig' with {
        "heading": hero.heading
      } only
    %}
  {% endif %}

  {% if hero.body.body_text %}
    <div class="hero__alert">
      <div class="hero__icon hero__icon--desktop">
        <div class="hero__icon__rectangle"></div>
        <div class="hero__icon__circle"></div>
      </div>

      <div class="hero__alert__content">
        {% if hero.eyebrow %}
          <div class="hero__icon hero__icon--mobile">
            <div class="hero__icon__rectangle"></div>
            <div class="hero__icon__circle"></div>
          </div>

          {%
            include '@rain_theme/eyebrow/eyebrow.twig' with {
              "eyebrow": hero.eyebrow
            } only
          %}
        {% endif %}

        {% if hero.body %}
          {%
            include '@rain_theme/body-text/body-text.twig' with {
              "body_text": hero.body.body_text,
              "modifier": hero.body.classes
            } only
          %}
        {% endif %}

        {% if hero.button.url %}
          <div class="hero__right">
            {%
              include '@rain_theme/button/button.twig' with {
                "button": hero.button
              } only
            %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
</section>
