// Colors.
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.
//
// If you need help naming colors check out:
// http://chir.ag/projects/name-that-color/

// Standard.
$color-white: #fff;
$color-black: #000000;
$color-text-gray: #444444;
$color-body-gray: #575757;

// Primary.
$color-primary: #152f52;
$color-secondary: #cd383e;
$color-tertiary: #0d5c9f;
$color-blue3: #0d5ca0;
$color-gray: #666666;

// Alert
$color-alert-bg: #fff1d2;
$color-alert-border-desktop: #fdb81e;

// Grays.
$color-gray-dk: #343d46;
$color-gray-mid: #4f5b66;
$color-gray-lt: #65737e;
$color-gray-xlt: #a7adba;

// Blues.
$color-light-blue: #a3d5ed;
