// Fonts generated using:
// https://www.fontsquirrel.com/tools/webfont-generator
//
// For more information on font-face and browser support visit:
// https://css-tricks.com/snippets/css/using-font-face/

// Roboto Bold.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('../fonts/roboto-bold.woff2') format('woff2'), url('../fonts/roboto-bold.woff') format('woff');
}

// Roboto Regular.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff');
}

// Roboto Italic.
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  src: url('../fonts/roboto-italic.woff2') format('woff2'), url('../fonts/roboto-italic.woff') format('woff');
}

// Roboto Condensed Bold.
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url('../fonts/robotocondensed-bold.woff2') format('woff2'), url('../fonts/robotocondensed-bold.woff') format('woff');
}

// Roboto Condensed Regular.
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url('../fonts/robotocondensed-regular.woff2') format('woff2'), url('../fonts/robotocondensed-regular.woff') format('woff');
}

// Roboto Condensed Light.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-display: fallback;
  src: url('../fonts/robotocondensed-italic.woff2') format('woff2'), url('../fonts/robotocondensed-italic.woff') format('woff');
}
