// Import site utilities.
@import '../../global/utils/init';

.site-footer {
  background-color: $color-primary;

  .site-footer__inner {
    padding: 30px 0;
  }

  .site-footer__logo {
    margin: 15px 0;
  }

  .site-logo {
    width: 200px;

    .area-alt {
      fill: $color-white;
    }
  }

  .site-footer__text {
    align-self: center;
  }

  .site-footer__menus {
    align-self: center;
  }
}

.site-footer__addendum {
  background-color: $color-black;
}
